<%- include("partials/header")-%>
<div class="doc-details">
    <span>Doctor Name</span>
    <span>Doctor ID</span>
    <span>Date</span>
    <span>No. of Patients treared</span><br>    
</div>
<div class="patient-input-card">
    <div class="card">
        <h2>Patient ID</h2>
        <form class="form" action="/index" method="post">
          <div>
            <input type="title" id="name" name="patientId">
          </div><br>
          <button type="submit">Submit</button>
        </form>
      </div>
</div>