<%- include("partials/header") -%>


<form action="/signup" method="post">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <input 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="fullname"
                    placeholder="Full Name" />

                <input 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="Aadhar"
                    placeholder="Aadhar Number" />

                <input 
                    type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="password"
                    placeholder="Password" />
                <input 
                    type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="cnf_password"
                    placeholder="Confirm Password" />

                <button
                    type="submit"
                    class="w-full text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >Create Account</button>
</form>

          <%if(errr==="none"){%>
          <p style="visibility: hidden;">
            Passwords are not same in both blocks
          </p>
          <%}else{%>
          <p style="color: red; text-align: center;">
            Passwords are not same in both blocks
          </p>
          <%}%>
      </div>

      <div class="text-grey-dark mt-6">
          Already have an account? 
          <a class="no-underline border-b border-blue text-blue" href="/login">
              Log in
          </a>.
      </div>
    </div>
    </div>

<%- include("partials/footer") -%>